/* base styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 991px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}
/* base styles end */

/* website level styles */
.red {
	color: #ef3a4e !important;
}
.blue {
	color: #2994d2 !important;
}
.yellow {
	color: #f3d70e !important;
}
.skin {
	color: #f7f7f7 !important;
}
.grey {
	color: #babbbb !important;
}
.off-white {
    color: #f1f1f1;
}
.off-black {
    color: #313639;
}
.primary-btn,
.primary-link-btn {
    padding: 3px 15px 2px;
    border-radius: 15px;
    background-color: #2994d2;
    color: #f1f1f1 !important;
    border: none;
    font-weight: bold;
    text-shadow: -0.5px 0.5px #222;
    box-shadow: -2px 2px 10px #222;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Sniglet', cursive;
}
@media screen and (max-width: 930px) {
    .primary-btn {
        font-size: 22px;
    }
}
.primary-btn:hover {
    transform: scale(1.15);
}
.banner-message {
    font-weight: bold;
    font-family: Chicle;
    letter-spacing: 0.12em;
    font-size: 70px;
    color: #f1f1f1;
    text-shadow: -2px 3px 3px #222,
        -2.5px 3.5px 7px #222;
}
.table-heading {
    background: #2994d2;
    color: #d8ff00;
    font-family: 'Sniglet', cursive;
    font-size: 28px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: -5px 5px 5px #222;
}
.table-body {
    background: #fff;
    border-top: none;
    font-size: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -5px 5px 5px #222;
}
.table-row {
    display: flex;
}
.table-row:not(:last-of-type) {
    border-bottom: 1px solid #babbbb;;
}
.table-cell {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 8px;
}
.table-cell:not(:last-of-type) {
    border-right: 1px solid #babbbb;;
}
.table-heading .table-cell {
    border-right: none;
}
.table-note {
    color: #f1f1f1;
    font-size: 18px;
}
/* website level styles end */

/* nav bar styles */
.main-nav-container {
    font-family: 'Sniglet', cursive;
    border-bottom: 5px solid #2994d2;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #f1f1f1;
    z-index: 100;
}
.nav-items-container-desktop {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-items-container-mobile {
    display: none;
}
.company-logo {
    width: 250px;
    max-width: 100%;
}
.nav-item {
    letter-spacing: 0.05em;
    font-size: 16px;
    font-weight: bold;
    /* width: 12%; */
    text-align: center;
    flex-basis: 0;
}
.nav-item.left-item {
    flex-grow: 3;
}
.nav-item.right-item {
    flex-grow: 4;
}
.nav-item-link {
    color: #232A34;
    padding: 3px 10px 2px;
    border-radius: 15px;
    white-space: nowrap;
}
.nav-logo-container {
    width: 25%;
    text-align: center;
}
.nav-item-link:hover,
.nav-item.active > .nav-item-link {
    background-color: #2994d2;
    color: #f1f1f1;
}
@media screen and (max-width: 930px) {
    .main-nav-container {
        height: 85px;
    }
    .nav-items-container-desktop {
        display: none;
    }
    .nav-items-container-mobile {
        display: block;
        text-align: center;
        height: 100%;
    }
    .nav-logo-container {
        width: 85%;
        padding-left: 15%;
        text-align: center;
        display: inline-block;
        height: 100%;
    }
    .company-logo {
        height: 105%;
    }
    .nav-toggler-container {
        width: 15%;
        text-align: center;
        display: inline-block;
        font-size: 35px;
        position: relative;
        top: 12px;
        left: -6px;
    }
    #navDropdownToggler {
        display: none;
    }
    .nav-list-mobile {
        border-bottom: 5px solid #2994d2;
        background: #f1f1f1;
        position: relative;
        top: 2.5px;
        display: none;
    }
    input[type=checkbox]:checked#navDropdownToggler ~ .nav-list-mobile {
        display: block;
    }
    .nav-item {
        font-size: 20px;
        border-bottom: 1.5px solid #2994d2;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }
}
/* nav bar styles end */

/* main styles */
.main-content-container {
    margin-top: 100px;
}
@media screen and (max-width: 930px) {
    .main-content-container {
        margin-top: 85px;
    }
}

/* home */
.home-banner-container {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/home-banner.jpg');
    background-size: cover;
    background-position: center;
}
.welcome-message {
    width: 50%;
}
.contact-btn-wrapper {
    margin-top: 25px;
}
.intro-features-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-intro-heading {
    font-family: Chicle, cursive;
    letter-spacing: 0.15em;
}
.about-intro-content{
    text-align: justify;
}
.features-row {
    height: 100%;
}
.feature {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}
.feature:hover {
    transform: scale(1.1);
}
.feature-img-wrapper {
    text-align: center;
}
.feature-img {
    width: 100%;
    max-width: 200px;
}
.feature-caption {
    font-family: 'Sniglet', cursive;
    letter-spacing: 0.1em;
    white-space: nowrap;
}
.admission-container {
    background: #e4e4e4;
}
.admission-details-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.admission-details {
    position: relative;
}
.admission-details-table {
    width: 80%;
    position: relative;
    z-index: 1;
}
.admission-details-mth > .admission-details-table {
    margin-left: 20%;
}
.admission-details-fss > .admission-details-table {
    margin-right: 20%;
}
.admission-table-heading {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mascot-img-container {
    position: absolute;
    top: 10px;
    z-index: 0;
    transition: left 0.8s;
}
.mascot-img-container-left {
    left: 10%;
}
.admission-details:hover > .mascot-img-container-left {
    left: -5%;
}
.mascot-img-container-right {
    left: 65%;
}
.admission-details:hover > .mascot-img-container-right {
    left: 78%;
}
.mascot-img {
    max-width: 100%;
    max-height: 200px;
}
.mascot-img-container-right > .mascot-img {
   height: 200px; 
}


.admission-heading,
.carousel-heading {
    padding: 10px;
    background: #2994d2;
    color: #f1f1f1;
    margin-bottom: 0;
    font-family: Chicle, cursive;
    letter-spacing: 0.15em;
}
.slide-1 {
    background: url('../images/1.jpg');
}
.slide-2 {
    background: url('../images/2.jpg');
}
.slide-3 {
    background: url('../images/3.jpg');
}
.slide-4 {
    background: url('../images/4.png');
}
.slide-5 {
    background: url('../images/5.jpg');
}
.slide-6 {
    background: url('../images/6.jpg');
}
.slide-7 {
    background: url('../images/7.jpg');
}
.slide-8 {
    background: url('../images/8.jpg');
}
.carousel-slide {
    height: 500px;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 768px) {
    .home-banner-container {
        height: 400px;
    }
    .welcome-message {
        font-size: 50px;
        width: 70%;
    }
    .about-intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-link {
        width: 100%;
    }
    .feature {
        padding-top: 15px;
    }
    .feature-caption {
        font-size: 22px;
    }
    .feature-img {
        width: 70%;
    }
    .admission-details:first-of-type {
        margin-bottom: 20px;
    }
    .admission-details > .admission-details-table {
        width: 100%;
        margin-left: 0;
    }
    .mascot-img-container {
        display: none;
    }
    
}
@media screen and (max-width: 576px) {
    .features-row {
        padding-top: 20px;
    }
    .feature {
        padding-top: 20px;
    }
}


/* home end */

/* about us */
.about-banner-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/about-banner.jpg');
    background-size: cover;
    background-position: center;
}
.about-content-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-us-heading {
    font-size: 35px;
    font-family: Chicle, cursive;
    letter-spacing: 0.1em;
}
.about-us-text {
    text-align: justify;
}
.about-us-text:last-child {
    margin-bottom: 0;
}
.characters-heading {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    font-family: Chicle, cursive;
    letter-spacing: 0.1em;
}
.char-img-wrapper,
.char-intro-container {
    margin-bottom: 20px;
}
.char-img {
    height: 200px;
}
.char-intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.char-greeting {
    font-family: 'Sniglet', cursive;
    letter-spacing: 0.1em;
    font-size: 20px;
}
.char-intro {
    text-align: justify;
    margin-bottom: 0;
}
.char-intro:last-of-type {
    margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
    .char-greeting {
        text-align: center;
    }
}
/* about us end */

/* contact us */
.contact-details-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.detail-column {
    text-align: center;
    width: 25%;
}
.detail-img {
    width: 150px;
}
.detail-caption {
    font-family: 'Sniglet', cursive;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.detail-group {
    margin-bottom: 15px;
}
.contact-form-container {
    padding-top: 175px;
    padding-bottom: 20px;
    background: url('../images/grass.png');
    background-size: cover;
    background-position: top;
}
.contact-us-heading {
    text-align: center;
    font-family: 'Chicle', cursive;
    letter-spacing: 0.12em;
    text-shadow: 2px 1.5px 3px #babbbb;
    margin-bottom: 15px;
}
.contact-form-row {
    margin-bottom: 10px;
}
.contact-field {
    font-family: 'Chicle', cursive;
    height: 45px;
    border-radius: 22.5px;
    background: #f1f1f1;
    padding-left: 20px;
}
.send-btn-container {
    text-align: center;
    margin-top: 20px;
}
.send-btn {
    font-family: 'Chicle', cursive;
    height: 45px;
    border: none;
    border-radius: 22.5px;
    background: #f1f1f1;
    transition: 0.5s;
    width: 180px;
}
.send-btn:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 768px) {
    .contact-details-container {
        flex-wrap: wrap;
    }
    .detail-column {
        width: 50%;
    }
}
@media screen and (max-width: 576px) {
    .detail-column {
        width: 100%;
    }
    .contact-name-field {
        margin-bottom: 10px;
    }
    .send-btn {
        width: 100%;
    }
}
/* contact us end */
/* birthdays */
.birthdays-banner-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/birthday-banner.jpg');
    background-position: center -60px;
    background-repeat: no-repeat;
}
.birthdays-message {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 2px -1.5px 3px #f1f1f1, 2.5px -2.5px 7px #babbbb;
}
.birthdays-submessage {
    font-family: 'Sniglet', cursive;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 25px;
    letter-spacing: 0.05em;
}
.birthday-btns-wrapper {
    margin-top: 40px;
}
.call-us-btn,
.email-us-btn {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 150px;
    display: inline-block;
    letter-spacing: 0.08em;
}
.call-us-btn {
    background-color: #ef3a4e;
}
.email-us-btn {
    background-color: #f3d70e;
    color: #313639 !important;
}
.birthdays-subbanner-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/birthday-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.birthdays-info-container {
    width: 500px;
    max-width: 100%;
    background: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
}
.birthdays-heading {
    font-family: Sniglet, cursive;
}
.birthdays-info-text {
    font-family: Sniglet, cursive;
}
.birthdays-info-text:last-child {
    margin-bottom: 0;
}
.birthday-packages-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.birthday-package {
    padding-left: 10%;
    margin-bottom: 30px;
}
.package-heading-img {
    height: 118px;
    position: relative;
    z-index: 1;
}
.package-title,
.package-price {
    font-weight: bold;
    border-radius: 15px;
    position: relative;
    top: 2px;
}
.package-title {
    background: #ef3a4e;
    font-family: 'Sniglet', cursive;
    font-size: 25px;
    top: 5px;
    padding: 14px 14px 14px 30px;
    margin-left: -27px;
    z-index: 0;
    letter-spacing: 0.08em;
}
.package-title.cubs-bday-package {
    background: #2994d2;
}
.package-title.maya-bday-package {
    background: #f1cba8;
}
.package-price {
    padding: 19px;
    margin-left: 20px;
    background: #babbbb;
}
.birthday-package-details {
    padding-left: 70px;
    margin-top: 20px;
}
.package-days {
    font-size: 20px;
}
.package-details {
    padding-top: 10px;
    padding-left: 30px;
    list-style: initial;
}
.options-notif-container {
    background: #2994d2;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 50px;
    text-align: justify;
    font-family: Sniglet, cursive;
    font-size: 20px;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .birthday-packages-container {
        text-align: center;
    }
    .birthday-package {
        padding-left: 0;
    }
    .package-details {
        text-align: left;
    }
    .contact-field {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 576px) {
    .birthdays-banner-container {
        height: 450px;
        background-position: -275px -180px;
    }
    .birthdays-message {
        font-size: 40px;
        padding: 0;
    }
    .birthdays-submessage {
        font-size: 18px;
    }
    .birthday-btns-wrapper {
        margin-top: 30px;
    }
    .call-us-btn {
        margin-bottom: 10px;
    }
    .birthdays-subbanner-container {
        background-position: -632px;
    }
    .birthdays-info-container {
        padding: 12px;
    }
    .birthdays-heading {
        font-size: 28px;
    }
    .birthday-package-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .package-heading-img {
        width: 280px;
    }
    .package-price {
        font-size: 14px;
        padding: 7px;
        margin-left: 0;
        border-radius: 8px;
    }
    .birthday-package-details {
        padding-left: 0;
    }
    .options-notif-container {
        margin: 0;
        padding: 12px;
    }
    .contact-us-heading{
        font-size: 22px;
    }
    .contact-name-field{
        margin-bottom: 0;
    }
}
/* birthdays end */

/* super goalie */
.super-goalie-content-container {
    padding-top: 30px;
}
.super-goalie-banner-container {
    height: 450px;
    background: url('../images/super-goalie-banner.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.sg-content {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.sg-content.reversed {
    flex-direction: row-reverse;
}
.sg-content-image,
.sg-content-text {
    flex-basis: 0;
}
.sg-content-image {
    flex-grow: 1.5;
    text-align: center;
}
.sg-content-text {
    text-align: justify;
    flex-grow: 2;
    font-family: 'Sniglet', cursive;
}
.sg-image {
    max-width: 80%;
    margin: 0 auto;
}
.sg-content-heading {
    font-family: 'Sniglet', cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}
.sg-features-container {
    display: flex;
    margin-bottom: 20px;
}
.sg-feature {
    width: 33.33%;
    padding-left: 30px;
    padding-right: 30px;
}
.sg-feature-img {
    text-align: center;
    margin-bottom: 20px;
}
.sg-feature-img > img {
    width: 100px;
}
.sg-feature-description {
    text-align: justify;
    font-family: 'Sniglet', cursive;
}
.sg-price-heading {
    font-family: 'Sniglet', cursive;
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
}
.price-table {
    width: 70%;
    margin: 0 auto 30px;
}
.price-table .table-cell {
    font-size: 16px;
}
.price-table ul {
    list-style: circle;
    margin-left: 15px;
    text-align: left;
}
@media screen and (max-width: 768px) {
    .super-goalie-banner-container {
        height: 250px;
    }
}
@media screen and (max-width: 576px) {
    .sg-content,
    .sg-content.sg-content.reversed {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .sg-content-image {
        margin-bottom: 15px;
    }
    .sg-features-container {    
        flex-direction: column;
    }
    .sg-feature {
        width: 100%;
        padding: 0;
    }
    .price-table {
        width: 100%;
    }
}
/* super goalie end */

/* facilities */
.operation-hours-container {
    padding-top: 30px;
}
.operation-hours-heading {
    font-family: Chicle, cursive;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.15em;
}
.operation-hours-content {
    margin-bottom: 20px;
}
.operation-hours-img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.operation-hours {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
}
@media screen and (max-width: 768px) {
    .operation-hours-img,
    .operation-hours {
        width: 100%;
        text-align: center;
    }
}
/* facilities end */

/* classes*/
.classes-banner-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/classes-banner.jpg');
    background-size: cover;
    background-position: right;
}
.classes-content-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.classes-heading {
    font-size: 35px;
    font-family: Chicle, cursive;
    letter-spacing: 0.1em;
}
.classes-message {
    width: 70%;
}
.classes-table {
    width: 75%;
    margin: 0 auto;
}
.date-night-container {
    margin-top: 30px;
}
.date-night-details-container,
.date-night-schedule-container {
    margin-top: 20px;
}
.date-night-heading {
    font-size: 30px;
    font-family: Chicle, cursive;
    letter-spacing: 0.1em;
    margin-left: 0;
    margin-right: 0;
}
.date-night-img-container > img {
    width: 100%;
}
.date-night-details,
.date-night-schedule {
    list-style: initial;
    width: 80%;
    margin: 15px auto 0;
}
@media screen and (max-width: 768px) {
    .classes-message {
        font-size: 35px;
        text-align: center;
        padding-top: 250px;
        width: 100%;    
    }
    .classes-table {
        width: 100%;
        margin: 0 auto;
    }
}
/* classes end */

/* main styles end */

/* footer styles */
.footer-container {
    padding: 15px 0;
    background-color: #2994d2;
}
.social-link {
    font-size: 25px;
    padding: 0 10px;
    color: #f1f1f1;
}
.copyright-text {
    font-size: 14px;
}
/* footer styles end */